{% load static %}
<div class="equipments">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Проект</th>
            <th scope="col">Наименование устройства</th>
            <th scope="col">IP адрес</th>
            <th scope="col">Тип устройства</th>
            <th scope="col">Номер шкафа</th>
        </tr>
        </thead>
        <tbody>
        {% for technical_equipment in technical_equipments %}
            <tr>
                <td>
                    <a href="{% url "technical_equipments:modules_in_plc" technical_equipment.technical_equipment_id %}">
                        {{ technical_equipment.project }}
                    </a>
                </td>
                <td>{{ technical_equipment.technical_equipment_name }}</td>
                <td>{{ technical_equipment.technical_equipment_ip }}</td>
                <td>{{ technical_equipment.technical_equipment_type }}</td>
                <td>
                    <a href="{% url "switch_cabinets:switch_cabinet" technical_equipment.switch_cabinet_id %}">
                        {{ technical_equipment.switch_cabinet_name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
