{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">IP адресс</th>
            <th scope="col">Местоположение</th>
        </tr>
        </thead>
        <tbody>
        {% for plc in object_list %}
            <tr>
                <td><a href="{% url "plc:modules_in_plc" plc.id %}">{{ plc.name }}</a></td>
                <td>{{ plc.ip }}</td>
                <td>{{ plc.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}