<div class="signals">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Адрес</th>
            <th scope="col">Маркировка</th>
            <th scope="col">Оборудование</th>
            <th scope="col">Тип сигнала</th>
        </tr>
        </thead>
        <tbody>
        {% for signal in signals %}
            <tr>
                <td><a href="#">{{ signal.name }}</a></td>
                <td>{{ signal.input_reg }}</td>
                <td>{{ signal.marking }}</td>
                <td><a href="{% url "factory_equipments:index" %}">{{ signal.equipment.equipment_name }}</a></td>
                <td>{{ signal.signal_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>